<!DOCTYPE html>
<html>
  <head>
    <title>Underscore Project</title>
    <link rel="stylesheet" href="styleSheets/styles.css">
    <link rel="stylesheet" href="octicons/octicons.css">

    <script type=template/html id="profileTmplt">
      <%_.each(dataProfile, function(element, index, list) { %>
      <img src="<%= element.avatar_url %>">
      <h1><%= element.name %></h1>
      <h2><%= element.login %></h2>
      <hr>
      <p><span class="octicon octicon-location"></span><%= element.location %></p>
      <a href="#"><p><span class="octicon octicon-mail"></span><%= element.email%></p></a>
      <p><span class="octicon octicon-clock"></span><%= element.created_at %></p>
      <hr>
      <div class="social">
      <p class="follow"><%= element.followers %><br><span class="followText">Followers</span></p>
      <p class="follow"><%= element.following %><br><span class="followText">Following</span></p>
      </div>
      <hr>
      <p class="organizations">Organizations</p>
      <a href="<%= element.organizations_url %>"><img id="orgImg" src="images/organizationsThumb.png"></a>
    <% }); %>
    </script>

    <script type=template/html id="repoTmplt">
      <%_.each(dataRepo, function(element, index, list) { %>
        <a href="<%= element.html_url%>"><h1><span class="mega-octicon octicon-repo"></span><%= element.name %></h1></a>
        <p>Last updated <%=element.updated_at%></p>
        <p class="repoStatus">Javascript<span class="octicon octicon-star"></span>0<span class="octicon octicon-repo-forked"></span>0</p>
        <hr>
    <% }); %>
    </script>

    <script type=template/html id="activityTmplt">
      <%_.each(dataActivity, function(element, index, list) { %>
        <% if (element.type === "PushEvent"){ %>
            <div>
              <span class="mega-octicon octicon-git-commit"></span>
              <p><a href="<%=element.actor.url%>"><%=element.actor.login%></a> pushed to <a   href="">master</a> at <a href="<%=element.repo.url%>"><%=element.repo.name%></a> </p>
              </div>
            <br>
              <a href="element.actor.url"><img id="profPic" src="<%=element.actor.avatar_url%>" alt=""></a>
              <img id="thumbnail" src="<%=element.actor.avatar_url%>" alt="">
              <a href=""> <%=element.payload.head %></a>
              <p><%=element.payload.commits.message%></p>
              <hr>
        <% } else { %>
        <% if (element.payload.ref_type === "repository"){ %>
              <span class="octicon octicon-repo"></span>
              <div>
              <p><a href=""></a> created repository</p> <a href=""><%=element.repo.name%></a>
              </div>
        <% }else{ %>
              <span class="octicon octicon-git-branch"></span>
              <div>
              <p><a href=""></a> created branch <a class="branch" href=""><span class="octicon octicon-git-branch"> <%=element.payload.master_branch%></a> at <a href=""><%=element.repo.name%></a></p>
              </div>
              <% } %>
          <hr>
        <% } %>
    <%  }); %>
    </script>

  </head>
  <body>
    <div class="container">
      <aside>
      </aside>
      <div class="right">
        <nav>
          <a class="repoNav show" id="repoTab" href="#">Repositories</a>
          <a class="publicActsNav" id="paTab" href="#">Public Activity</a>
        </nav>
        <section class="repos">
        </section>
        <section class="publicActs hide">
        </section>

      </div>

    </div>


    <script type = "text/javascript" src = "node_modules/underscore/underscore.js"></script>
    <script src = "node_modules/jquery/dist/jquery.js"></script>
    <script src = "javaShit/script.js"></script>
    <script src = "javaShit/data.js"></script>
  </body>
</html>
