img {
  height: 250px;
  width: 250px;
  border-radius: 5%; }

h1 {
  font-family: helvetica;
  margin: 0;
  font-size: 1.7em; }

h2 {
  font-family: helvetica;
  font-weight: lighter;
  color: gray;
  font-size: 1.3em;
  margin: 0; }

.social p {
  font-size: 2em; }

p {
  font-family: helvetica;
  font-size: 0.95em;
  padding: 1.8px;
  margin: 0;
  display: inline-block; }

a {
  text-decoration: none;
  color: #469ED8; }

.container {
  width: 100%;
  border: 2px solid red; }
  .container aside {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    border: 2px solid red; }
  .container .right {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    text-align: right;
    border: 2px solid red; }
    .container .right nav a.hide {
      display: none; }
